<nb-layout>

  <nb-layout-header fixed>
    <h2>Some Assembly Required</h2>
  </nb-layout-header>

  <nb-layout-column>
    <div id="center-on-big-screen-container">
      <div id="center-on-big-screen-item">
        <h3>{{titleText}}</h3>
        <div id="controls-container">
          <div
            style="order: 1;  flex: 1 1 0; display: flex; justify-content: center; align-items: center; width: 100%; height: 100%">
            <div *ngIf="currentGrid; else showSpinner" style="width: 100%">
              <app-playing-field [grid]="currentGrid"></app-playing-field>
            </div>
            <ng-template #showSpinner>
              <nb-card [nbSpinner]="!currentGrid" style="width: 100px; height: 100px">
                <nb-card-body></nb-card-body>
              </nb-card>
            </ng-template>
          </div>
          <app-editor id="editor" style="order: 2; flex: 1 1 0;" (onSubmitCode)="onSubmitCode()" (onGameRoomChanged)="onGameRoomChanged()"></app-editor>
        </div>
      </div>
    </div>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
