<nb-layout>

  <nb-layout-header fixed>
    <h2>Awesome Game</h2>
  </nb-layout-header>

  <nb-layout-column>

    <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%">
      <div *ngIf="currentGrid; else showSpinner" style="width: 100%">
        <app-playing-field [grid]="currentGrid"></app-playing-field>
      </div>
      <ng-template #showSpinner>
        <nb-card [nbSpinner]="!currentGrid" style="width: 100px; height: 100px">
          <nb-card-body></nb-card-body>
        </nb-card>
      </ng-template>
    </div>


  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
